GraphNode.pass #title {
    background-color: rgba(59, 94, 68, 0.8);
}

GraphNode.compute #title {
    background-color: rgba(59, 59, 94, 0.8);
}

GraphNode.description #title {
    background-color: rgba(59, 83, 94, 0.8);
}

GraphNode.parameter #title{
    background-color: rgba(83, 58, 32, 0.8);
}

GraphNode.output #title {
    background-color: rgba(94, 59, 81, 0.8);
}